// get started/cta section before footer
.get-started {
    background-image: url('../img/bg-simplify-section-mobile.svg');
    background-repeat: no-repeat;

    @include mq($from: tablet-portrait) {
        background-image: url('../img/bg-simplify-section-desktop.svg');
    }
}