@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Be Vietnam Pro';
        src: url('../fonts/BeVietnamPro-Regular.woff2') format('woff2'),
            url('../fonts/BeVietnamPro-Regular.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
    
    @font-face {
        font-family: 'Be Vietnam Pro';
        src: url('../fonts/BeVietnamPro-Bold.woff2') format('woff2'),
            url('../fonts/BeVietnamPro-Bold.woff') format('woff');
        font-weight: bold;
        font-style: normal;
        font-display: swap;
    }
    
    @font-face {
        font-family: 'Be Vietnam Pro';
        src: url('../fonts/BeVietnamPro-Medium.woff2') format('woff2'),
            url('../fonts/BeVietnamPro-Medium.woff') format('woff');
        font-weight: 500;
        font-style: normal;
        font-display: swap;
    }

    body {
        font-family: 'Be Vietnam Pro';
        font-weight: normal;
    }
}

@layer components {
    .btn {
        @apply py-3 px-6 font-medium rounded-full shadow-xl hover:bg-opacity-80;
    }

    .btn--primary {
        @apply text-white bg-brightRed shadow-brightRed/20;
    }

    .btn--secondary {
        @apply bg-white text-brightRed;
    }

}